
body {
    /*  background-image: url("../img/clockgreen.png");
      background-repeat:round;  preview: background-color:lightblue; */
      background-color: lightblue;
      font-size: 16px;
      height:100%;
      width:100%;
    }
html{
      height:100%;
    }
.tcBackgraound{
  background-color: #e9ecef;
  opacity: 1;
}      
.footer {

     /* background-color: #00004d;
      color: white; */

      background-color: #e9ecef;
     opacity: 1;
      text-align: center;
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
    }
    
.container {
        max-width: 90%;
    }    
#user-nav {
  color:#800000;
  font-weight: bold;
}
.headlabel {
  color:#00004d;
}
.totalInfo {
  font-weight: bold;
}
.navbar-color{
    background-color: #00004d;
}
.main-nav li{
	text-align: center;
	color: blue;
	background: #fff;
}
#bars-about {
  height: 90px;
}

/* Small media movil */
@media ( min-width:358px ){
  .jumbotron {
    height: 145px;
  }
  #searchPeriod{
    width:30%;
  }
  #bars-about {
    height: 145px;
  }
  #bar-jumbotron {
    height:0px;
  }
  #jumboh6 {
    font-size: 1em;
  }
  .img-jumbo{
    width: 25px;
    height: 25px;
    margin-left: 2%;
    margin-right: 2%;
  }
}

#about {
  display: none;
  width:60%;
	margin-left:15%;
}
.bold-text {
  font-weight: bold;
  font-size: 1.2em;
}
#button-main {
  margin-top:1em;
}

/* Small media movil */
@media ( min-width:576px ){
  #searchPeriod{
    width:30%;
  }
  #bars-about {
    height: 130px;
  }
  #bar-jumbotron {
    height: 50px;
  }
  #jumboh6 {
    font-size: 2.5em;
  }
  .img-jumbo{
    width: 35px;
    height: 35px;
  }
}
/* ++++++++++++++++++++++++++++++++++++++++++
   Media Queries
++++++++++++++++++++++++++++++++++++++++++++*/
/* Layout  for 3 columns and 3 Rows in case of medium screen */
@media ( min-width: 768px ) {
  #bars-about {
    height: 110px;
  }
  #bar-jumbotron {
    height: 30px;
  }
  #jumboh6 {
    font-size: 2.5em;
  }
  .img-jumbo{
    width: 50px;
    height: 50px;
  }

  .wrap {
		min-height:calc( 100vh - 89px);
	}
  .col {
		display: inline-block;
		margin-right: -4px;
		vertical-align: top;
		padding-left: 1em;
		padding-right:1em;
		width: 50%;
		float: left;
	}
  #searchPeriod{
    width:30%;
  }
}

@media (min-width:992px) {
  #bars-about {
    height: 90px;
  }
  #bar-jumbotron {
    height: 1px;
  }

}

/* Layout  for 9 columns in case of big screen */

@media (min-width:1025px) {
  #searchPeriod{
    width:50%;
  }
}
